<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sbtmult.app">

<application android:label="Test" android:hardwareAccelerated="true" android:allowBackup="true">
    <activity android:name="com.sbtmult.app.activity.MainActivity"
              android:label="Test">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>


</application>

</manifest>
